:root {
  --color-primary: #0070AD;
  --color-outline: #009CF1;
  --color-background: #FAFAFA;
  --color-input-borders: #ECECEC;
  --color-white: #FFFFFF;
  --color-text-strong: #1C1C1C;
}

.kc-body {
  background: none var(--color-background) !important;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}

/* CONTAINER */
.kc-login-container {
  display: flex;
  height: 100vh;
  padding: 0;
}

.kc-login-container__image-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  background-image: url("public/logo-image.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.kc-login-container__card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}


/* LOGIN CARD */
.kc-login-card {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  width: 32.813rem;
  height: fit-content;
}

.kc-login-card__header-text {
  margin: 0 !important;
  width: 100%;
  text-align: left;
  font-size: 2.5rem;
  line-height: 3.75rem;
  letter-spacing: 0.016rem;
  color: var(--color-primary);
}

.kc-login-card__logo {
  font-weight: 500;
}

.kc-login-card__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.kc-login-card__form-group {
}

.kc-login-card__password-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.kc-login-card__password-group {
  border-radius: 0.25rem;
}

.kc-login-card__input {
  height: 2.5rem !important;
  padding-block: 0.5rem !important;
  padding-left: 1rem;
  border: 0.063rem solid var(--color-input-borders);
  border-radius: 0.25rem;
  &:focus-visible {
    outline-color: var(--color-outline);
  }
}

.kc-login-card__input--no-right-border {
  border-right: none;
  border-radius: 0.25rem 0 0 0.25rem;
}

.kc-login-card__password-visibility {
  border-width: 0.063rem;
  border-style: solid;
  border-color: var(--color-input-borders) !important;
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: none;
  &:focus-visible {
    outline-color: var(--color-outline);
  }
  &::after {
    border: none;
  }
}

.kc-login-card__forgot {
  font-size: 0.875rem;
  font-weight: 500;
}

.kc-login-card__checkbox {
  margin: 0;
  font-size: 1rem;
  & label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    color: var(--color-text-strong);
  }
}



/* IDs */
#kc-content-wrapper {
  margin: 0;
}
#kc-form-wrapper {
  margin: 0;
}
#kc-locale {
  position: absolute;
  top: 0;
  margin-top: 2.5rem;
}
#language-switch1 {
  margin-top: 0.5rem;
  right: auto;
}
#rememberMe {
  position: static;
  width: 18px;
  height: 18px;
  margin: 0;
  &:focus-visible {
    outline: 0.15rem solid var(--color-outline);
    outline-offset: 0.01rem;
  }
}


